# ============================================
# Plantilla de Variables de Entorno
# ============================================

# Configuración de Base de Datos
POSTGRES_USER=postgres
POSTGRES_PASSWORD=password_ejemplo
POSTGRES_DB=quiz_db

# Configuración de pgAdmin
PGADMIN_DEFAULT_EMAIL=admin@example.com
PGADMIN_DEFAULT_PASSWORD=root

# URL de Conexión (Ejemplo para Docker interno)
DATABASE_URL="postgresql://postgres:password_ejemplo@db:5432/quiz_db?schema=public"

# Entorno
NODE_ENV=production
PORT=3000
NEXT_PUBLIC_API_URL=http://localhost:3000